<div class="aboutContainer">
	<div class="photoContact">
		<div class="photo">
			<img src="assets/photo.png" />
		</div>
		<br/>
		<div class="text">Diane Sparks</div>
		<div class="text">they/she</div>
		<div class="text">fractaldiane&#64;gmail.com</div>
		<br/>
		<div class="icons">
			<a title="itch.io" href="https://dianesparks.itch.io/" target="_blank" rel="noopener noreferrer">
				<img src="assets/itchio-logo-textless-white.svg" />
			</a>
			<a title="GitHub" href="https://github.com/FractalDiane" target="_blank" rel="noopener noreferrer">
				<img src="assets/github-mark-white.svg" />
			</a>
			<a title="LinkedIn" href="https://www.linkedin.com/in/diane-sparks-902b331a0/" target="_blank" rel="noopener noreferrer">
				<img src="assets/linkedin.svg" />
			</a>
		</div>
		<div>

		</div>
	</div>
	<div class="aboutText">
		<p>Lorem ipsum odor amet, consectetuer adipiscing elit. Netus tortor malesuada orci praesent dui at. Malesuada dolor odio aliquet suspendisse rhoncus nibh viverra. Mi tristique arcu scelerisque fringilla libero. Magna posuere ipsum lobortis, ultrices laoreet sagittis etiam lectus. Ipsum rutrum nam mi viverra nec pulvinar feugiat fusce. Aenim dignissim ipsum hac facilisi turpis elit euismod neque. Cras vel vulputate morbi in dui fusce tempor fusce. Parturient congue dictumst vestibulum viverra enim quis accumsan est facilisi?</p>
		<p>Torquent leo est enim aliquet faucibus faucibus sociosqu. Molestie faucibus hac dictum arcu sagittis montes vulputate. Porta amet fringilla fames dapibus montes sociosqu, cras rhoncus. Auctor nam neque laoreet est nulla nibh non tortor. Libero velit sodales et pharetra metus vulputate ante et taciti. Morbi in sed vehicula finibus lectus. Iaculis at fusce tortor lorem pharetra fermentum posuere blandit. Iaculis cursus netus, leo litora nunc ad. Tincidunt mollis non nisi eu; praesent enim. Congue fermentum libero congue vel habitant ultrices.</p>
	</div>
</div>
