.topMenu {
	--height: 80px;
	height: var(--height);

	display: flex;
	flex-flow: row;
}

.topMenu > .entry {
	flex-grow: 1;

	text-align: center;
	font-family: Helvetica;
	/*font-size: 1.35vw;*/
	font-size: 1rem;
	font-weight: bold;

	background-color: #318947;
	color: white;
	border: 0px;
	border-bottom: calc(var(--height) * 0.1) solid #96CAA000;
	cursor: pointer;
}

.topMenu > .entry:first-child {
	border-top-left-radius: 20px;
}

.topMenu > .entry:last-child {
	border-top-right-radius: 20px;
}

.topMenu > .entry > .entryText {
	padding-top: calc(var(--height) * 0.1);
}

.topMenu > .entry:hover {
	background-color: #65b078;
}

.topMenu > .entry.selected {
	border-bottom: calc(var(--height) * 0.1) solid #96CAA0;
}

@media screen and (max-width: 900px) {
	.topMenu {
		--height: 60px;
	}

	.topMenu > .entry {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 500px) {
	.topMenu {
		--height: 40px;
	}

	.topMenu > .entry {
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 350px) {
	.topMenu {
		--height: 30px;
	}

	.topMenu > .entry {
		font-size: 3vw;
	}
}
