.topMenu {
	height: 4vw;

	display: flex;
	flex-flow: row;
}

.topMenu > .entry {
	flex-grow: 1;

	text-align: center;
	font-family: Helvetica;
	font-size: 1.35vw;
	font-weight: bold;

	background-color: #318947;
	color: white;
	border: 0px;
	border-bottom: 0.35vw solid #96CAA000;
	cursor: pointer;
}

.topMenu > .entry:first-child {
	border-top-left-radius: 20px;
}

.topMenu > .entry:last-child {
	border-top-right-radius: 20px;
}

.topMenu > .entry > .entryText {
	padding-top: 0.35vw;
}

.topMenu > .entry:hover {
	background-color: #65b078;
}

.topMenu > .entry.selected {
	border-bottom: 0.35vw solid #96CAA0;
}
